#sidenav {
  overflow-x: hidden;
}

.ui-grid {
  min-height: 100vh;
}

/* Remove annoying left/right padding on the Sidebar as Menu */
.sidebar {
  padding: 0 !important;
}

#header > a {
  color: black;
}

#navbar {
  margin-top: 1em;
}
